body {
	width: 100%;
  	background-image:url("hannahDrawing02.jpg");
}
h1{
  
  font-family: BlurLight;
  text-align: center;
  color: DarkBlue;

}


}
table {


  height: 300px;
  width: 302px;

}

.buttonHolder{
	margin-left:auto;
    margin-right:auto;
}

#container {
 
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.button{
	background-color: Moccasin;
}

#squareZero{
	height:100px;
	width:100px;
	text-align:center;
	font-family: Chalkduster;
	font-size: 30px;
	color:navy;

}

#squareOne{
	height:100px;
	width:100px;
	text-align:center;
	font-family: Chalkduster;
	font-size: 30px;
	color:navy;

}

#squareTwo{
	height:100px;
	width:100px;
	text-align:center;
	font-family: Chalkduster;
	font-size: 30px;
	color:navy;
}

#squareThree{
	height:100px;
	width:100px;
	text-align: center;
	font-family: Chalkduster;
	font-size: 30px;
	color:navy;
}

#squareFour{
	height:100px;
	width:100px;
	text-align: center;
	font-family: Chalkduster;
	font-size: 30px;
	color:navy;
}

#squareFive{
	height:100px;
	width:100px;
	text-align:center;
	font-family: Chalkduster;
	font-size: 30px;
	color:navy;
	
}

#squareSix{
	height:100px;
	width:100px;
	text-align: center; 
	font-family: Chalkduster;
	font-size: 30px;
	color:navy;
}

#squareSeven{
	height:100px;
	width:100px;
	text-align: center;
	font-family:Chalkduster;
	font-size: 30px;
	color:navy;
}

#squareEight{
	height:100px;
	width:100px;
	text-align:center;
	font-family: Chalkduster;
	font-size: 30px;
	color:navy;
}









